{% extends "base.html" %}

{% block body %}
    <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container my-3 py-3">
        <h2 class="text-center my-3">About me aboutmeabout</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/500x300/?nature,water" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">WEEWEE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/500x300/?nature,water" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go WEEWEE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/500x300/?nature,water" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">GWEEWEE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-3 text-center">
            <h1 class="my-4">Swag clip</h1>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZPCfoCVCx3U?rel=0"
                    allowfullscreen></iframe>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptatem nisi magni est consequatur
                inventore optio ipsa neque tempora consequuntur distinctio excepturi facere quaerat molestias laborum,
                provident perspiciatis rem earum.</p>
        </div>
{% endblock body %}